/* .wrong{
    border-bottom: 1px solid red !important;
}
.success{
	border-bottom: 1px solid green !important;
} */
.img-wrap{
	width: 800px;
}
img{
	width: 100px;
	margin: 10px;
}
#loader{
	width: auto;
}